
<!-- Footer - bloc-10 -->
<div class="bloc bg-footer-background bgc-white l-bloc" id="bloc-10">
	<div class="container bloc-lg">
		<div class="row footer-row">
			<div class="col-sm-6">
				<h3 class="mg-md bloc-mob-center-text text-center tc-linen">
					Social Media
				</h3>
				<div class="row social-icons row-no-gutters">
					<div class="col-md-6 col-md-offset-3 col-sm-12">
						<div class="col-xs-3">
							<div class="text-center">
								<a class="social" href="{{ 'home'|page }}"><span class="fa fa-twitter icon-md icon-linen"></span></a>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="text-center">
								<a class="social" href="{{ 'home'|page }}"><span class="fa fa-facebook icon-md icon-linen"></span></a>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="text-center">
								<a class="social" href="{{ 'home'|page }}"><span class="ion ion-social-linkedin-outline icon-linen icon-md"></span></a>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="text-center">
								<a class="social" href="{{ 'home'|page }}"><span class="fa fa-instagram icon-md icon-linen"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="text-center">
					<a href="{{ 'home'|page }}" class="btn btn-sm btn-wire contact-button wire-btn-linen">Contact Us<span class="special-tag-for-editing-text-with-html"></span></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Footer - bloc-10 END -->
