<!doctype html>
<html>
<head>  
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="description" content="{{ this.page.meta_description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<link rel="shortcut icon" type="image/png" href="{{ 'assets/favicon.png'|theme }}">
	
	<!--Base CSS-->
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/base/bootstrap.min.css'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/style.css'|theme }}">
	<link rel="stylesheet" href="{{ 'assets/css/base/animate.min.css'|theme }}">
	<link rel="stylesheet" href="{{ 'assets/css/base/font-awesome.min.css'|theme }}">
	<link rel="stylesheet" href="{{ 'assets/css/base/ionicons.min.css'|theme }}">
	<link href='https://fonts.googleapis.com/css?family=Playball&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	<!--CSS-->
	

	<!--Base Js-->
	<script src="{{ 'assets/javascript/base/jquery-2.1.0.min.js'|theme }}"></script>
	<script src="{{ 'assets/javascript/base/bootstrap.min.js'|theme }}"></script>
	<script src="{{ 'assets/javascript/base/blocs.min.js'|theme }}"></script>
	<script type="text/javascript" src="{{ 'assets/javascript/base/instafeed.min.js'| theme}}"></script>

	<!--Js-->




	<title>{{ this.page.title }}</title>

	
<!-- Google Analytics -->
 
<!-- Google Analytics END -->

</head>
<body>
<!-- Main container -->
<div class="page-container">
     {% page %}
</div>
<!-- Main container END -->


</body>
</html>